# Python Crash Course

## Comments
- A **comment** is a line of text ignored by Python.
- Use a hashtag/octothorpe (#) to create a comment.

In [1]:
1+1

2

## Basic Data Types
- An **integer** is a whole number.
- A **floating-point** number is one with a fractional or decimal component.
- A **string** is a piece of text. It's a collection of characters.
- An **empty string** has a length of 0 characters.
- A **Boolean** is a type whose value can only be True or False.
- **None** is a special Python type that represents nothingness, blankness, or the absence of a value.
- The operations that can be performed on a value depend on its type. There are functionalities that we can do with strings but not numbers, and vice versa.

In [2]:
type(1)
type(1.1)
type(-1)
type(-1.2)
type("abc")
type([1,2,3])
type((2,3))
type({1,2})

set

In [3]:
"race" + "car"
10*3

30

In [4]:
"ab"*5

'ababababab'

## Operators
- An **operator** is a symbol that performs an operation (mathematical, logical, etc).
- Python supports all traditional mathematical operation - `+` for addition, `-` for subtraction, `*` for multiplication, and `/` for division.
- The floor division operator (`//`) leaves off the floating point portion of a division result.
- The `+` operator performs concatenation when used with strings.
- The equality operator (`==`) returns True if two values are equal to each other.
- The inequality operator (`!=`) returns True if two values are unequal to each other.

In [5]:
# PEMDAS
3-4+5
# is different from 
# 3 - (4+5) and
(3-4) + 5

4

In [6]:
# Division will give ouptut in float
15/5
15/4
# Floor division returns only the non-floating point Or only the non-remainder part
15//2

7

In [7]:
# Modulo operator returns only the remainder part
15%2

1

In [8]:
# Equality operators - logical operators (== /!= / > / >= / < / <= )
5==5.0

5>=4

"hello"=="hi"

"HELLO" == "hello"

"hello" == " hello "

False

## Variables
- A **variable** is a name for a value in your program. It is a placeholder for the value.
- The value that a variable represents can *vary* over a program.
- Multi-word variable names should follow a `snake_case` naming convention.
- Python evaluates the right-hand side of an equal sign first.
- The `len` function returns the length of its argument.

## Built-in Functions
- A **function** is a repeatable procedure.
- A **function** can accept inputs (which are called **arguments**).
- A **function** produces a **return value**, which is the "output" of the function.
- The technical term for running/executing a function is "invoking" or "calling".
- Invoke a function with a pair of parentheses.
- The `len` function returns the length of its argument.
- The `str` function converts its argument to a string.
- The `int` function converts its argument to an integer.
- The `float` function converts its argument to a floating-point.
- The `type` function returns the type of its argument (the kind of value it is).

In [9]:
len("how you doin'?")
str(3)
int(3.9)
float(3)

3.0

In [10]:
type("hi")
type([1,2,3,5])

list

## Custom Functions
- Define a function with the `def` keyword, a name, a parameter list, and a colon.
- Functions names should follow a `snake_case` naming convention.
- A **parameter** is a name for an expected input.
- Write the function's logic inside a nested block. The end of the block marks the end of the function logic.
- Variables declared inside a function body will only last as long as the function runs.
- Use the **return** keyword to specify the function's return value (output).
- When invoking a function, we can pass in argument sequentially or with explicit parameter names.
- A **default argument** is a fallback value that Python will provide if an argument is not passed for a parameter during invocation.

In [11]:
def degc_degf(degc):
    '''Enter the degC value'''
    if (type(degc) is int) or (type(degc) is float):
        degf = (degc * 2.8) + 32
        # Using f-string to insert variable values
        print(f'Converted value of {degc}\N{DEGREE SIGN}C is {degf}\N{DEGREE SIGN}F ')
        return degf
    else:
        return print(f"{degc} is invalid input. enter numeric value")

In [12]:
degc_degf("3")

3 is invalid input. enter numeric value

In [13]:
degc_degf(0)

Converted value of 0°C is 32.0°F

32.0

In [14]:
def easy_money():
    return 100

In [15]:
easy_money()

100

## String Methods
- An **object** is the technical term for a type. A string is an example of an object.
- A **method** is like a function that belongs to an object.
- To invoke a method, provide a period after the object, then the method name and a pair of parentheses.
- We use similar terminology and syntax for functions and methods. We can invoke methods. We can pass arguments to methods. Methods can return values.
- Objects can be **mutable** (capable of change) or **immutable** (incapable of change). A string is immutable.
- Common string methods include `upper`, `lower`, `swapcase`, `title`, `capitalize`, and `strip`.
- **Method chaining** refers to invoking methods on objects returned by previous method invocations. We create a link or "chain" of methods.
- The **in** and **not in** keywords check for the presence and absence of a substring within a string.

_A `function` can be called without being associated to an object or class._<br>
<br>
_A `method` is called on an object. It has to be bound to its relevant object in order for it to return an output._

In [16]:
astring = "This is python"

In [17]:
astring.title()

astring.capitalize()

astring.upper()

'THIS IS PYTHON'

In [18]:
astring.replace("This","that")

'that is python'

In [19]:
# However , Note that No changes are made to the original variable. It remains unmodified unless the change is re-assigned that variable
astring

'This is python'

In [20]:
# Check if a character or string exists in a string
"This" in astring
# Note that it is case-sensitive
"this" in astring

False

In [21]:
"that" not in astring
"that" in astring

False

In [22]:
bstring = "  This is python  "

In [23]:
bstring.strip()

'This is python'

## Lists
- A **list** is a mutable data structure that holds an ordered collection of values.
- We often use the term **element** to describe an item in the list.
- The length of a list is its number of elements.
- The **append** method adds an element to the end of the list.
- The **pop** methods remove the last element from the list.
- The **in** and **not in** keywords check whether or not an element exists within a list.

In [24]:
this_list = ["Jim","Jack"]

In [25]:
len(this_list)

2

### `.append` - Adding an element to a list

In [26]:
this_list.append("Jake")
this_list

['Jim', 'Jack', 'Jake']

In [27]:
this_list

['Jim', 'Jack', 'Jake']

### `.pop` - Removes the last element from a list

In [28]:
this_list.pop()

'Jake'

In [29]:
this_list

['Jim', 'Jack']

In [30]:
eg_string = "something"

#### A sample loop that takes a string, splits it into List elements

In [31]:
somelist = []
for each in eg_string:
    somelist.append(each)
print(somelist)

['s', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g']

## Index Positions and Slicing
- Python assigns every string character an **index position** (an order in line).
- Python assigns every list element an **index position** (an order in line).
- The index starts counting at 0.
- Use square brackets to extract a character/element by index position.
- Use negative values to extract a character/element relative to the end of the object.
- Use slicing to extract multiple character/elements.
- The first index in a slice is inclusive. The second index in a slice is exclusive (Python will go up to that index but *not* include its value).

In [33]:
# Index positions
a_list = ["a","b","c","d","e","f"]

In [37]:
a_list[0]
a_list[2]
a_list[-1]
a_list[-3]

'd'

In [77]:
# Slicing a list - fetching a range of values from a list
a_list[0:3]
# M to N-1 values

# Using steps when slicing a List
# Fetching values in even indexes
a_list[0::2]
# Fetching values in odd indexes
a_list[1::2]

['b', 'd', 'f']

In [78]:
# Fetching all values but in reverse order
a_list[::-1]

['f', 'e', 'd', 'c', 'b', 'a']

In [79]:
# Slicing in strings
eg_string[0]
# Obtain the string but in reverse
eg_string[::-1]
eg_string[::2]
eg_string[1::2]

'oehn'

In [5]:
super_heroes = ["batman","superman","wolverine","spiderman","deadpool","john wick","iron man","thor","captain america","nick fury"]

In [6]:
super_heroes[2]
super_heroes[-1]

'nick fury'

In [7]:
super_heroes[3:]

['spiderman',
 'deadpool',
 'john wick',
 'iron man',
 'thor',
 'captain america',
 'nick fury']

In [8]:
len(super_heroes)

10

#### Check if a value exists in a List

In [27]:
"superman" in super_heroes
"aquaman" in super_heroes

False

___
### `.append` method to add to the end of the list (at index -1)

In [28]:
super_heroes.append("dr strange")

In [29]:
super_heroes

['batman',
 'superman',
 'wolverine',
 'spiderman',
 'deadpool',
 'john wick',
 'iron man',
 'thor',
 'captain america',
 'nick fury',
 'dr strange']

### `insert` method to add at a specific index location

In [31]:
super_heroes.insert(2,"green arrow")

#### we can see "Green Arrow" added at index position `2`

In [33]:
super_heroes

['batman',
 'superman',
 'green arrow',
 'wolverine',
 'spiderman',
 'deadpool',
 'john wick',
 'iron man',
 'thor',
 'captain america',
 'nick fury',
 'dr strange']

____
## Dictionaries
- A **dictionary** is a mutable, unordered collection of key-value pairs.
- A **key** is a unique identifier for a value.
- A **value** corresponds to the key. The values can contain duplicates.
- Use a dictionary for **association** (i.e., to connect/map two values together). Use a list for **order**.
- Declare a dictionary with a pair of curly braces.
- Write a colon between every key and value.
- Separate each key-value pair with a comma and a space.
- The length of a dictionary is a count of its key-value pairs.

In [9]:
a_dict = {"apples":200,"oranges":250,"lemons":150,"grapes":250,"pears":300}

In [20]:
a_dict

{'apples': 200, 'oranges': 250, 'lemons': 150, 'grapes': 250, 'pears': 300}

In [21]:
len(a_dict)

5

In [22]:
a_dict["grapes"]

250

### Example to find keys holding a particular value. use of the `.items()` method

In [24]:
my_dict = {'apple': 2, 'banana': 2, 'cherry': 3, 'date': 2}

In [25]:
value_to_find = 2

keys_found = []
for key, value in my_dict.items():
    if value == value_to_find:
        keys_found.append(key)

if keys_found:
    print(f"Keys for value {value_to_find}: {keys_found}")
else:
    print("Value not found in the dictionary.")

Keys for value 2: ['apple', 'banana', 'date']

### Adding a new `key-value` pair to the dict

In [36]:
my_dict["pear"]=5

In [37]:
my_dict

{'apple': 2, 'banana': 2, 'cherry': 3, 'date': 2, 'pear': 5}

### Re-assigning a value for an existing key

In [38]:
my_dict["apple"] = 6

In [39]:
my_dict

{'apple': 6, 'banana': 2, 'cherry': 3, 'date': 2, 'pear': 5}

### `pop` method to remove a `key-value` pair

In [40]:
my_dict.pop("pear")

5

In [41]:
my_dict

{'apple': 6, 'banana': 2, 'cherry': 3, 'date': 2}

### Check if a particular `key` exists within a dict

In [42]:
"grape" in my_dict

False

In [43]:
"apple" in my_dict

True

### Check if a `value` exists in a dict

In [44]:
6 in my_dict.values()

True

In [45]:
15 in my_dict.values()

False

### Some other useful methods

In [50]:
my_dict.items()
my_dict.values()

dict_values([6, 2, 3, 2])

___
## Classes
- A **class** is a blueprint/template for creating objects.
- A **class** defines the methods/functionalities that objects made from it will have.
- An object is called an **instance** of the class it is made from.
- The act of creating an object from a class is called **instantiation**.
- Every time we've worked with a Python object, it's been "instantiated" from a class.
- In real world terms, a class is the blueprint and the house we build is the instance/object.
- Syntax options like `""` or `[]` or `{}` are shortcuts for instantiation.
- For other classes, we'll need to use `class()` syntax to instantiate an object.
- Much like functions and methods, some class instantiations will require arguments.

<img src="Blueprint.png" width="600" height="410">

## Navigating Libraries using Jupyter Lab

In [1]:
import pandas as pd